.SideMenuButton QPushButton
{
    text-align: left;
    border: 0;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SideMenuButton QLabel:hover, .SideMenuButton QPushButton:hover, .SideMenuButton:hover
{
    background-color: #42886e;
}
